// Override Bootstrap Variables
@import "variables";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

@import "_footer";

.aframe-container {
  height: 90vh !important;
}

#opacityControls.pointer {
  cursor: pointer;
}

.text-align-left {
  text-align: left;
  font-size: smaller;
  margin-right: 1em;
}

.text-align-right {
  text-align: right;
  font-size: smaller;
  margin-right: 1em;
}

.text-align-center {
  text-align: center;
  font-size: smaller;
  margin-right: 1em;
}

.fullWidth {
  width: 100%;
}
