// Override Bootstrap Variables
@import "variables";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

@import "_footer";

.fullWidth {
  width: 100%;
}

.aframe-container {
  height: 90vh !important;
}

#opacityControls.pointer {
  cursor: pointer;
}

.controls {
  width: min-content;
}
